engine-strict=true

# 使用淘宝镜像加速
registry = https://registry.npmmirror.com

# sharp 二进制资源地址
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# sentry cli
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli/